<div class="pokemon-container">
  <div class="card" *ngFor="let pokemon of pokemons">
    <h3>{{ pokemon.name | uppercase }}</h3>
    <img [src]="pokemon.sprites.front_default" alt="{{ pokemon.name }}" />
    <button (click)="getPokemon(pokemon)">Ver Detalle</button>
  </div>
</div>

<div class="pagination">
  <button (click)="prevPage()" [disabled]="page === 1">Anterior</button>
  <span>Página {{ page }} de {{ totalPages }}</span>
  <button (click)="nextPage()" [disabled]="page === totalPages">Siguiente</button>
</div>
